<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blur Effect Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="background"></div>
    <div class="form-container">
        <form action="/insert" method="post">
            <h2>ADD DATA</h2>
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="dsc">Description</label>
            <textarea name="dsc" id="dsc" cols="3" rows="3"></textarea>
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
            <label for="publisher">Publisher</label>
            <input type="text" id="publisher" name="publisher">
            <label for="price">Price</label>
            <input type="number" id="price" name="price">
            <label for="URL">Url For Image</label>
            <input type="url" name="url" id="url">
            
            <button type="submit">Submit</button>
            <br>
            <br>
            <a href="/show"><button type="button">View</button></a>
        </form>
    </div>
</body>
</html>
